/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bulma";

 .notification:not(:last-child){
	margin-bottom: 0;
}

.profile_image {
  border-radius: 50%;
}

.slide {
  object-fit: cover;
  position   : relative;
  overflow   : hidden;
                    /* 画像のサイズに合わせて変更ください */
  width      : 95%;
  height     : 900px;
  margin     : auto;      /* サンプルは中央寄せの背景：白 */
  background : #fff;
}
 
.cook {
  display    : block;
  position   : absolute;
  width      : 100%;
  height     : 100%;
  opacity    : 0;
  animation  : slideAnime 15s ease infinite;
}
 
.cook:nth-of-type(1) { animation-delay: 0s }
.cook:nth-of-type(2) { animation-delay: 5s }
.cook:nth-of-type(3) { animation-delay: 10s }

 @keyframes slideAnime{
  0% { opacity: 0; transform: scale(.1, .1)}
  3% { opacity: 1; transform: scale(1, 1)  }
  30% { opacity: 1; transform: scale(1, 1)  }
  33% { opacity: 0; transform: scale(2, 2)  }
  100% { opacity: 0; transform: scale(2, 2)  }
}

